go 1.18

use /home/maxim/Projects/Go-tutorial/test-services/downloader
use /home/maxim/Projects/Go-tutorial/leetcode/AlgoPattherns/TwoPointers/validPalindroneII
use /home/maxim/Projects/Go-tutorial/leetcode/AlgoPattherns/FastAndSlowPointers/LinkedListCycle
use /home/maxim/Projects/Go-tutorial/leetcode/AlgoPattherns/FastAndSlowPointers/MiddleLinkedList